Source: cdos-upgrade
Section: main
Priority: extra
Maintainer: xifei wu <xifei@nfs.iscas.ac.cn>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/cdos-upgrade.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cdos-upgrade.git;a=summary

Package: cdos-upgrade
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
